* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  height: 100vh;
  display: flex;
  justify-content: center;
  background-color: wheat;
}
.canvas {
  display: flex;
  flex-direction: column;
  padding-top: 64px;
}

.title,
#gridSizeText {
  font-family: "Cabin Sketch", sans-serif;
  text-align: center;
  color: #b84a39;

  text-shadow: 3px 3px 0px rgba(74, 59, 50, 0.25);
  letter-spacing: 2px;
}

.title {
  font-size: 3rem;
  margin-bottom: 20px;
}
.mainContainer {
  width: 640px;
  height: 640px;
  box-shadow:
    rgba(0, 0, 0, 0.25) 0px 14px 28px,
    rgba(0, 0, 0, 0.22) 0px 10px 10px;
  background-color: white;
  display: flex;
  flex-direction: column;
  -webkit-user-drag: none;
  user-select: none;
}

.ui {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-left: 96px;
  gap: 24px;
}

.slider {
  -webkit-appearance: none;
  appearance: none;
  border-radius: 3px;
  background: #008eff;
  height: 10px;
  opacity: 0.5;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.slider:hover {
  opacity: 1;
}

.slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  border-radius: 50%;
  appearance: none;
  width: 15px;
  height: 15px;
  background: aqua;
  cursor: pointer;
}

.slider::-moz-range-thumb {
  border-radius: 50%;
  width: 15px;
  height: 15px;
  background: aqua;
  cursor: pointer;
}

.gridSizeContainer,
.buttonsContainer {
  display: flex;
  flex-direction: column;
}
.buttonsContainer {
  gap: 10px;
}
.parentDiv {
  display: flex;
  flex: 1;
}

.childDiv {
  display: flex;
  align-items: center;
  justify-content: center;
  flex: 1;
}

.utils {
  display: flex;
  gap: 10px;
  justify-content: center;
  align-items: end;
}

#clearCanvasButton {
  height: 30px;
  width: 100px;
  border-radius: 8px;
  background-color: aqua;
}

.buttonsContainer button {
  height: 80px;
  width: 80px;
  border-radius: 50%;
  border-color: #d8c5a8;
  flex-shrink: 0;
}

.selected {
  outline: 3px solid rgba(221, 168, 135, 0.8);
  outline-offset: 3px;
}
